/* CSS Document */
.veidoContainer{  
    position:static;
	width:100%;
	height:540px;
    overflow: hidden; 
	z-index:-2;	
}

#vid {     	
   width:100%;	
   height:auto;
   z-index:-2;   
}

.intro{
	position:absolute;
	top:100px;
}




