/* CSS Document */
video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 80%;
    width: auto;
    height: auto;
    z-index: -100;/*overlap order*/
    -webkit-transform: translateX(-50%) translateY(-70%);
    transform: translateX(-50%) translateY(-70%);
    background-size: cover; 
}