/* CSS Document */


#work{
	overflow:hidden;
}

.project{
	height:200px;
	margin-top:15px;
	
}

.description:hover {
	
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
   -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
} 

.description {
	height:80%;
	width:80%;
	background-color:red;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
   -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
}