/* CSS Document */

.center-x{
	text-align:center;
}
.center-y{
	text-align:center;
}

.heading {
	margin: 75px;
	text-align: center;
	font-size:50px;
	
}
.subtitle {
	font-size:10px;
	display: block;	
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: none;
}

h4{  
    padding-top:15px;
	text-align:center;
}
.description{
	text-align:center;
}
.link{
	text-align:center;
}
